---
import Social from "@/components/Social.astro";
import config from "@/config/config.json";
import menu from "@/config/menu.json";
import social from "@/config/social.json";
import { markdownify } from "@/lib/utils/textConverter";
import { Image } from "astro:assets";

const { footer_content, copyright } = config.params;
---

<footer class="section bg-light pb-0">
  <div class="container">
    {/* footer menu */}
    
    {/* copyright */}
    <!--div class="border-t border-border py-6"-->
    <div class="border-t border-border py-6 flex flex-col items-center gap-4 sm:flex-row sm:justify-between sm:gap-0">
      <!--div class="mb-12 sm:col-2 lg:col-2"-->
        <div>
          <Social source={social} className="social-icons" />
        </div>
        <p class="text-sm text-center" set:html={markdownify(copyright)} />
        <div>
          <a href="/privacy-policy" class="text-sm hover:underline">Privacy Policy</a> &nbsp;| &nbsp;
          <a href="/stats" class="text-sm hover:underline">Event Statistics</a>
        </div>
    </div>
  </div>
</footer>
